manifest {
    mainScript = 'poreCov.nf'
}

// default parameters
params {
    max_cores = Runtime.runtime.availableProcessors()
    cores = Runtime.runtime.availableProcessors()
    memory = '12'
    help = false
    profile = false

    // inputs
    fast5 = ''
    fasta = ''
    multifasta = ''
    fastq = ''
    fastq_pass = ''
    list = false
    samples = ''
    demultiplex = false
    read_until = ''
    read_qc = false

    // consensus qc
    reference_for_qc = ''
    seq_threshold = '0.90'
    n_threshold = '0.05'

    // settings
    buildDB = false
    cloudProcess = false
    extended = false
    guppy_cpu = false
    guppy_model = 'dna_r9.4.1_450bps_hac.cfg'
    krakendb = ''
    localguppy = false
    medaka_model = 'r941_min_high_g360'
    one_end = false
    single = false

    // parameters
    rki = false
    primerV = 'V3'
    minLength = '400'
    maxLength = '700'

    // folder structure
    cachedir = "singularity_images"
    databases = "databases"

    output = 'results'
    readsdir = "0.Fastq_reads"
    readqcdir = "1.Read_quality"
    genomedir = "2.Genomes"
    lineagedir = "3.Lineages_Clades_Mutations"
    rkidir = "4.RKI-summary"
    jsondir = "5.json-summaries"
    runinfodir = "X.Pipeline-runinfo"
}

// runinfo
timeline {
  enabled = true
  file = "${params.output}/${params.runinfodir}/execution_timeline.html"
}

report {
  enabled = true
  file = "${params.output}/${params.runinfodir}/execution_report.html"
}


profiles {

    local {
        workDir = "work/nextflow-poreCov-$USER"
        includeConfig 'configs/local.config'
        executor {
            name = "local"
            cpus = params.max_cores
            memory = params.memory
        }
    }



    docker {
        docker { enabled = true }
        includeConfig 'configs/container.config'
    }
}
