process {
    // DONT add GUPPY containers here !!! they are maintained via process

    withLabel:  ggplot2      { container = 'nanozoo/r_ggpubr:0.2.5--4b52011' }
    withLabel:  minimap2     { container = 'nanozoo/minimap2:2.17--7066fef' }
    withLabel:  nanoplot     { container = 'nanozoo/nanoplot:1.32.0--1ae6f5d' }
    withLabel:  ubuntu       { container = 'nanozoo/template:3.8--e13dfeb' }
    withLabel:  template     { container = 'nanozoo/template:3.8--21e23c9' }
    withLabel:  centrifuge   { container = 'nanozoo/centrifuge:v1.0.4-beta--fab181c' } 
    withLabel:  nanoplot     { container = 'nanozoo/nanoplot:1.25.0--4e2882f' }
    withLabel:  seqkit       { container = 'nanozoo/seqkit:0.10.1--360dd6d' }
    withLabel:  pycoqc       { container = 'nanozoo/pycoqc:2.5.0.23--320ecc7' }
    withLabel:  seqkit       { container = 'nanozoo/seqkit:0.10.1--360dd6d' }
    withLabel:  R_plot       { container = 'nanozoo/r_ggpubr:0.2.5--4b52011' }
}
