process {
    // DONT add GUPPY containers here !!! they are maintained via process

    withLabel:  ggplot2     { container = 'nanozoo/r_ggpubr:0.2.5--4b52011' }
    withLabel:  kraken2     { container = 'nanozoo/kraken2:2.1.1--d5ded30'}
    withLabel:  minimap2    { container = 'nanozoo/minimap2:2.17--7066fef' }
    withLabel:  nanoplot    { container = 'nanozoo/nanoplot:1.32.0--1ae6f5d' }
    withLabel:  ubuntu      { container = 'nanozoo/template:3.8--e13dfeb' }
}
