process.executor = 'local'

process {
    withLabel:  fastcov     { cpus = 4 }
    withLabel:  ggplot2     { cpus = 4 }
    withLabel:  kraken2     { cpus = params.cores }
    withLabel:  minimap2    { cpus = params.cores }    
    withLabel:  nanoplot    { cpus = 4 }

    withLabel:  ubuntu      { cpus = 1 } 
}
