process.executor = 'local'

process {
    withLabel: ggplot2              { cpus = 2 }
    withLabel: template             { cpus = 6 }
    withLabel: centrifuge           { cpus = params.cores }   
    withLabel: nanoplot             { cpus = 4 }
    withLabel: ubuntu               { cpus = 4 }
    withLabel: seqit                { cpus = params.cores }   
    withLabel: guppy_demultiplex    { cpus = params.cores }
    withLabel: pycoqc               { cpus = 4 } 
    withLabel: seqkit               { cpus = 1 }
    withLabel: R_plot               { cpus = 1 }
}